html, body {
    height: 100%;
}

body {
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: $dark-500;
    line-height: 1.4;
    background-color: $bright-1000;
    letter-spacing: 0.03em;
}

button {
    cursor: pointer;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    padding: 12px 24px;
    color: $bright-1000;
    background-color: $main-900;
    font-size: 18px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 6px;
    transition: all 1s;
}

.vector-btn {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    fill: $bright-1000;
}

.title {
    font-family: 'Ruda', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    color: $dark-900;
    letter-spacing: 0.03em;
    margin-bottom: 28px;

    @media (max-width: 768px) {
        font-size: 24px;
    }
}

.price__index {
    font-size: 14px;
}

.presence {
    font-weight: 600;
    font-size: 10px;
    line-height: 1;
    color: $main-900;
    align-self: flex-start;
    text-transform: uppercase;
    margin-bottom: 6px;

    &.ending {
        color: $bright-300;
    }

    &.end {
        color: $secondary-600;
    }
}

.counter {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: $bright-1000;
    border-radius: 50%;
    top: 2px;
    left: 3px;
    color: $bright-300;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    line-height: 1.8;
}

.price {

    &__cost {
        &:not(:last-child) {
            margin-bottom: 4px;
        }

        &--old {
            position: relative;
            color: $secondary-600;
        }
    }

    &__cross {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}


.go-to {
    position: relative;
    align-self: flex-start;
    font-size: 14px;
    color: inherit;
    margin: 5px 0;
    padding-bottom: 5px;
    letter-spacing: 0;
    text-transform: uppercase;
    text-decoration: underline 2px;
    text-underline-offset: 5px;
    flex-shrink: 0;
    transition: color 0.5s;

    @media (max-width: 576px) {
        margin-top: auto;
    }

    &::before {
        content: '';
        position: absolute;
         width: 100%;
        height: 100%;
        left: 0;
        top: -13px;
        padding: 22px 0;
    }

    &:hover {
        color: $main-1000;
    }

    &:focus {
        color: $bright-500;
    }

    &:active {
            color: $bright-800;
    }
}

.pay {
    display: flex;

    @media (max-width: 375px) {
        margin-bottom: 20px;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 24px;
        }   
    }

    &__link {
        position: relative;
        display: block;
        fill: $bright-1000;
        @extend %conditions-vector;

        &:after {
        content: '';
        position: absolute;
        padding: 25px;
        top: -10px;
        left: -10px;
        border-radius: 3px;
        }

        &--visa::after {
            padding: 25px 58px;
        }

        &--mastercard::after {
            padding: 25px 35px;
            
        }

        &:hover {
            background-color: rgba($bright-1000, 0);
            fill: $main-1000;
        }
    }
}

.social {
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 220px;
    margin-top: -7px;

    @media (max-width: 768px) {
        position: relative;
        z-index: 1;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 2px;
        }
    }

    &__vector-btn {
        width: 44px;
        height: 44px;
        @extend %conditions-vector;
    }

    &__vector {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}


// .abroad {

//     @media (max-width: 768px) {
//         position: relative;
        
//         &::after {
//             content: "";
//             position: absolute;
//             top: 0;
//             left: calc((100vw - 100%) / -2);
//             right: calc((100vw - 100%) / -2);
//             height: 100%;
//             background-color: inherit;
//             z-index: 0;
//             border-bottom: 1px solid rgba($bright-1000, 0.1);
//         }
//     }
// }

.sort {
    &__list {
        max-height: 0;
    }

    &__item {
        padding: 18px 0 18px 15px;
        background-color: $bright-1000;
        border: 1px solid $secondary-600;
        border-radius: 6px;
        margin-bottom: 30px;
    }

    &__input {
        @extend %input-hidden;

        &:checked ~ .sort__list {
            transition: 1s;
            max-height: 267px;
        }
    }

    &__vector {
        transform: rotate(180deg);
        margin-right: 24px;
        fill: $secondary-600;
        &.sort__vector--rotate {
            transition: transform 0.5s;
            transform: rotate(360deg);
        }
    }

    &__title {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
        padding-bottom: 18px;
        font-family: 'Ruda', sans-serif;
        font-size: 24px;
        line-height: 1.2;
        color: $dark-900;

        &::before {
            content: "";
            position: absolute;
            left: -16px;
            bottom: 0;
            width: calc(100% + 16px);
            height: 1px;
            background-color: $secondary-600;
        }
    }
}





// .line {
//     &:before {
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 3px;
//     border-bottom: 3px solid red;
//     }
// }
