body {
    @extend %sans-400;
    font-size: 14px;
    color: $dark-500;
    line-height: 1.4;
    background-color: $white;
    letter-spacing: 0.03em;
}

.container {
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;

}

.sr-only {
	position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.logo {
    transition: all 0.5s;
    
    &:hover {
        transform: rotateY(360deg);
    }

    &:focus {
        box-shadow: 3px 3px 5px #000;
    }

    &:active {
        transform: scale(1.1);
    }
}

.button {
    font-size: 18px;
    line-height: 1.3;
    color: $white;
    text-align: center;
    letter-spacing: 1px;
    padding: 12px 24px;
    background-color: $green-900;
    border-radius: 6px;

    &:hover {
        background-color: #4D810C;
    }

    &:focus {
        box-shadow: 0px 0px 0px 4px #E0EDCF;
    }

    &:active {
        color: rgba(255, 255, 255, 0.5);
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

button {
    cursor: pointer;
}

.menu {
    position: relative;

    // &:hover .menu__sublist {
    //     top: 100%;
    //     opacity: 1;
    // }

    &:focus .menu__sublist {
        top: 100%;
        opacity: 1;
    }

    &__btn {
        border-radius: 5px;
        transition: all 0.5s;
        width: 240px;
        height: 50px;
        background-color: $white;
        position: relative;
        @extend %sans-600;
        @extend %bg;
        color: $green-900;
        padding: 15px 35px 15px 60px;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: inline-block;
        }

        &::before {
            left: 0;
            width: 25px;
            height: 17px;
            margin-left: 17px;
            background-image: url('../images/buger_icon.svg');
        }

        &::after {
            right: 0;
            width: 8px;
            height: 4px;
            margin-right: 11px;
            background-image: url('../images/arrow_down.svg');
        }

        
    }

    &__sublist {
        position: absolute;
        width: 100%;
        opacity: 0;
        top: -1000px;
        transition: opacity 0.5s;
        z-index: 1;

        &.show {
            opacity: 1;
            top: 100%;
        }
        
    }

    &__subitem:last-child a {
        border-radius: 0 0 6px 6px;
        border-bottom: none;
    }

    &__sublink {
        display: block;
        padding: 15px 20px;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.07em;
        color: #000;
        background-color: $white;
        border-bottom: 1px solid rgba(193, 193, 193, 0.3);
        border-left: 3px solid transparent;

        &:hover {
            border-left: 3px solid $green-900;
            color: $green-900;
        }

        &:focus {
            background-color: $silver-600;
        }

        &:active {
            letter-spacing: 2px;
        }
    }
}

.form {
    display: flex;
    justify-content: space-between;
    width: 576px;
    height: 50px;
    margin-right: 35px;

    &__search {
        position: relative;
        width: 72%;
        cursor: pointer;
        
        &::before {
            content: "";
            @extend %tr-y;
            left: 12px;
            width: 20px;
            height: 20px;
            background-image: url('../images/search.svg');
            @extend %bg;
        }
    }

    &__field {
        width: 100%;
        height: 50px;
        padding-left: 50px;
        border-radius: 6px 0 0 6px;
        transition: all 0.3s;

        &::placeholder {
            color: $dark-800;
            letter-spacing: 0.03em;
        }

        &:hover::placeholder {
            letter-spacing: 2px;
        }

        &:focus {
            font-size: 18px;
        }

        &:active::placeholder {
            color: $green-900
        }
    } 

    &__btn {
        @extend %sans-600;
        color: $white;
        background-color: $dark-800;
        width: 28%;
        text-transform: uppercase;
        border-radius: 0px 6px 6px 0px;

        &:hover {
            background-color: rgba(49, 53, 43, 0.85);
        }

        &:focus {
            position: relative;
            box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.5);
        }

        &:active {
            color: rgba(255, 255, 255, 0.5);
        }
    }
}

.like {
    position: relative;
    width: 32px;
    height: 29px;
    background-image: url('../images/icon-heart.svg');
    @extend %bg;

    &:after {
        @extend %users-after;
    }

    &__counter {
        @extend %user-pos;
    }

    &:hover::after {
        background-color: $white;
        opacity: 0.1;
    }

    &:focus {
        transform: scale(1.2);
    }

    &:active {
        transform: scale(0.8);
    }
}

.cart {
    position: relative;
    width: 32px;
    height: 31px;
    background-image: url('../images/icon-cart.svg');
    @extend %bg;

    &:after {
        @extend %users-after;
        left: -7px;
    }

    &__counter {
        @extend %user-pos;
    }

    &:hover::after {
        background-color: $white;
        opacity: 0.1;
    }

    &:focus {
        transform: scale(1.2);
    }

    &:active {
        transform: scale(0.8);
    }
}

