.favour {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-bottom: 47px;
}


@media (max-width: 1200px) {
    .favour {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 992px) {
    .favour {
        grid-template-columns: 1fr 1fr;

        &__item {
            margin: 0 auto;
        }
    }
}