.footer {
    background-color: $dark-800;
    padding: 30px 0 25px;
    color: $bright-1000;

    .logo {
        display: inline-block;
        margin-bottom: 26px;
    }

    &__main {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid rgba($bright-1000, 0.1);
        padding-left: calc( ( 100vw - 100% ) / 2);
        margin-left: calc(( 100% - 100vw ) / 2);
        padding-right: calc(( 100vw - 100% ) / 2);
        margin-right: calc(( 100% - 100vw ) / 2);
    }

    &__subscribe {
        flex-grow: 1;
    }

    &__menu {
        margin-right: 10px;
    }

    &__list {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        max-width: 610px;
        min-height: 140px
    }

    &__item {
        width: 33.333%;
    }

    &__link {
        display: block;
        color: inherit;
        margin-bottom: 18px;
        font-style: normal;
        letter-spacing: 0;
        @extend %conditions-link;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }

    &__bottom .footer__copy {
        margin-bottom: 0;
    }
}