.footer {
    background-color: $dark-800;
    padding: 30px 0 25px;
    color: $bright-1000;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        border-bottom: 1px solid rgba($bright-1000, 0.1);
        padding-left: calc( ( 100vw - 100% ) / 2);
        margin-left: calc(( 100% - 100vw ) / 2);
        padding-right: calc(( 100vw - 100% ) / 2);
        margin-right: calc(( 100% - 100vw ) / 2);

        @media (max-width: 1200px) {
            justify-content: center;
        }
    }

    &__logo {
        width: 100%;
        margin-bottom: 26px;

        @media (max-width: 1200px) {
            width: 27%;
        }

        @media (max-width: 992px) {
            width: 50%;
        }

        @media (max-width: 768px) {
            width: 100%;
            text-align: center;
        }
    }

    .logo {
        display: inline-block;
    }

    &__subscribe {
        flex-grow: 1;

        @media (max-width: 1200px) {
            width: 42%;
        }

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    &__menu {
        margin-right: 10px;

        @media (max-width: 1200px) {
            width: 50%;
            text-align: center;
            order: 4;
        }

        @media (max-width: 992px) {
            width: 65%;
            text-align: left;
            order: 3;
        }

        @media (max-width: 768px) {
            width: 100%;
            margin-right: auto;
        }

        &--top {
            @media (max-width: 1200px) {
                margin-top: 30px;
            }

            @media (max-width: 992px) {
                margin-top: 0;
            }

            @media (max-width: 768px) {
                margin-top: 20px;
            }
        }
    }

    &__list {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        max-width: 610px;
        min-height: 140px;

        
        @media (max-width: 768px) {
            margin: 0 auto;
            text-align: center;
        }

        &--address {
            margin: 0 auto;
            display: block;
            min-height: 20px;
        }
    }

    &__item {
        width: 33.333%;

        &--address {
            width: 100%;
        }
    }

    &__address {
        @media (max-width: 1200px) {
            width: 30%;
            order: 3;
            margin-top: 0;
        }

        @media (max-width: 992px) {
            width: 33%;
            order: 4;
        }

        @media (max-width: 768px) {
            width: 100%;
            text-align: center;
            margin-top: 30px;
        }
    }

    &__link {
        display: inline-block;
        padding: 0 5px;
        color: inherit;
        margin-bottom: 18px;
        font-style: normal;
        letter-spacing: 0;
        @extend %conditions-link;

        @media (max-width: 1200px) {
            padding: 13px 5px;
            margin-bottom: 0;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }

    &__bottom .footer__copy {
        margin-bottom: 0;
    }
}
