.pay {
    display: flex;

    &__item:not(:last-child) {
        margin-right: 24px;
    }

    &__link {
        position: relative;
        display: block;
        fill: $bright-1000;
        @extend %conditions-vector;

        &:after {
        content: '';
        position: absolute;
        padding: 25px;
        top: -10px;
        left: -10px;
        border-radius: 3px;
        }

        &--visa::after {
            padding: 25px 58px;
        }

        &--mastercard::after {
            padding: 25px 35px;
            
        }

        &:hover {
            background-color: rgba($bright-1000, 0);
            fill: $main-1000;
        }
    }
}