.price {

    &__cost {
        &:not(:last-child) {
            margin-bottom: 5px;
        }

        &--old {
            position: relative;
            color: $secondary-600;
        }
    }

    &__cross {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}