.products {
    padding: 72px 0;
    text-align: center;

    &__button {
        background-color:$bright-1000;
        border: 1px solid $main-900;

        &:hover {
            background-color:  $main-100;
        }

        &:focus {
            box-shadow: 0px 0px 0px 4px rgba($main-900, 0.5);
        }

        &:active {
            color: rgba($main-900, 0.5);
            box-shadow: inset 0px 10px 4px rgba($dark-1000, 0.1)
        }
    }
}