.social {
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 220px;

    &__item:not(:last-child) {
        margin-right: 18px;
    }

    &__link {
        position: relative;
        display: block;
        fill: $bright-1000;
        @extend %conditions-picture;

        &:after {
        content: '';
        position: absolute;
        padding: 25px;
        top: -10px;
        left: -10px;
        border-radius: 3px;
        }
    }
}