.stock {
    padding: 72px 0;
    background-color: $secondary-150;
    text-align: center;

    &__title {
        margin-bottom: 20px;
    }

    & .filter {
        margin-bottom: 40px;
    }

    & .filter__button {
        letter-spacing: 0.1em;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 30px;
        margin-bottom: 47px;

        @media (max-width: 1200px) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media (max-width: 992px) {
            grid-template-columns: 1fr 1fr;
        }
    }


    & .button {
        color: $bright-1000;
        background-color: $main-900;
        @extend %conditions-button
    }

    &__unit {
        position: relative;
        flex-wrap: wrap;
        padding: 11px 5px 8px 11px;
        background-color: $bright-1000;
        height: 124px;
    }

    &__badge {
        position: absolute;
        top: 8px;
        left: 0;
        z-index: 1;
    }

    &__link {
        width: 35%;
    }

    &__img {
        max-height: 100px;
        margin-bottom: 0;
    }

    &__name {
        width: 58%;
        padding: 0;
    }

    &__buy {
        padding: 0;
    }

    & .price {
        flex-direction: row-reverse;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100px;
        font-weight: 600;
        line-height: 1;
        font-size: 20px;

        &__cost {
            margin-bottom: 0;

            &:not(:first-child) {
                margin-right: 10px;
            }
        }

        &__cost--old {
            font-size: 12px;
            font-weight: 400;
        }
    }

    &__button {
        background-color:$bright-1000;
        border: 1px solid $main-900;

        &:hover {
            background-color:  $main-100;
        }

        &:focus {
            box-shadow: 0px 0px 0px 4px rgba($main-900, 0.5);
        }

        &:active {
            color: rgba($main-900, 0.5);
            box-shadow: inset 0px 10px 4px rgba($dark-1000, 0.1)
        }
    }
}
