.user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 15px;

    .vector-btn {
        @extend %conditions-vector;
    }

    &__item {
        margin: 10px 5px;

        &--man {
            @media (max-width: 768px) {
                display: none;
            }
        }

        &--like {
            @media (max-width: 768px) {
                display: none;
            }
        }

        &--search {
            display: none;
            @media (max-width: 1200px) {
                display: block;
            }
        }
    }

    &__item:last-child {
        margin-right: 0;
    }

    &__item:nth-child(n+5) {
        display: none;
    }
    
    // &__btn {
    //     position: relative;
    //     width: 50px;
    //     height: 50px;
    //     border-radius: 3px;
    //     fill: $bright-1000;
    //     @extend %conditions-vector;

    //     &:hover {
    //     transition: all 0.5s;
    //     background-color: rgba($bright-1000, 0.1);
    //     }

        // &--man {
        //     @media (max-width: 768px) {
        //         display: none;
        //     }

            // &::after {
            //     left: -7px;
            // }
        // }

        // &--like {
        //     @media (max-width: 768px) {
        //         display: none;
        //     }

            // &::after {
            //     left: -3px;
            // }
        // }

        // &--search {
        //     display: none;
        //     margin: 0;

        //     @media (max-width: 768px) {
        //         display: block;
        //     }

            // &::after {
            //     left: -3px;
            // }
        // }

        // &:after {
        // content: '';
        // position: absolute;
        // padding: 25px;
        // top: -10px;
        // border-radius: 3px;
        // }

        // &--man::after {
        //     left: -7px;
        // }

        // &--like::after {
        //     left: -3px;
        // }

        // &--cart::after {
        //     left: -2px;
        // }

    // }
}