.user {
    display: flex;
    align-items: center;
    width: 12%;
    margin: 0 7px 0 21px;

    &__item:not(:last-child) {
        margin-right: 33px;
    }

    & .man,
    & .like, 
    & .cart {
        @extend %conditions-ico;
    }

    & .like,
    & .cart {
        &__counter {
        @extend %user-pos;
        }
    }
}


@media (max-width: 1200px) {
    .user {
        order: 3;
        justify-content: center;
        width: 20%;
        margin: 0;
    }
}