.man {
    position: relative;
    font-weight: 600;
    display: block;
    color: $bright-300;
    font-size: 10px;
    line-height: 1;
    width: 25px;
    height: 32px;
    object-fit: contain;
    background-image: url('../../../images/icon-user.svg');
    @extend %bg;

    &:after {
        @extend %user-after;
        left: -13px;
    }
}